:root {
    --offset: 60px;
    --w: 700px;
    --grey: rgb(237, 237, 237);
    --offp: 45px;
    --wh: #fff;
    --col: #ffb948;


    --num: 5rem;
    --sta: 8rem;
    
    --maxw: 600px;

    --pad: 8px;
    --pad2: calc(var(--pad) * 2);
    --headh: 80px;
    --navh: 40px;
    --boxh: auto;
    --droph:  calc(100vh - var(--headh) - var(--navh) - 20px);
    --menuw: 20%;
    --menumin: 15rem;
    --halfw: calc(50vw - var(--pad));
    --qtw: calc((50vw - var(--pad)) *.7);
    --projline: 80%;
   
}

html {
    box-sizing: border-box;
    font-size: 15px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}



body {
    line-height: 1.1;
    -webkit-font-smoothing: antialiased;
    height: 100vh;
    overflow: hidden;
    scroll-behavior: smooth;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    height: auto;
    max-width: 100%;
}

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

input,
button,
textarea,
select {
    font: inherit;
    margin: 0;
}


[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
  position: absolute;
  left: -9999px;
  opacity: 0;
  pointer-events: none;
}

ul>li {
    list-style: "—   " ;
    list-style-position: inside;

}

ol {
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
    display: block;
    overflow: auto;
}
p a{
    display: inline;
}
body{
    width: 100%;
    padding: 0 var(--pad) var(--pad);
}

.invi{ opacity: 0;}

/*
--A1:  2rem;
--A2: 1.2rem;
--A3: .9rem;
--T1: 2.2rem;
--T2: 1.3rem;
--T3: 1rem; */

.T1, .T2, .T3, .T4{
    font-family: 'Times New Roman', Times, serif;
}

.A1, .A2, .A3, .A4{
    font-family: Arial, Helvetica, sans-serif;
}

.logo, .T1{
    font-size: 2rem;
    height: 2rem
}
.A1{ font-size: 1.85rem;}
h2, .T2 { font-size: 1.5rem;
line-height: 1.2;}
.A2 { font-size: 1.39rem;}
h3, .T3{ font-size: 1.18rem; line-height: 1.2}
.A3{ font-size: 1.14rem;}
.T4, body {font-size: 1rem;}
.A4{ font-size: 0.94rem;}

.logo a img{
    padding: 3px 0;
    height: inherit;
}
.logo a {
    height: inherit;
    display: inline;
}


header{
    width: 100%;
    position: sticky;
    top: 0;
    background-color: var(--wh);
   
}


.front{
    background-color: var(--wh);
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px 0 10px;
    height: var(--headh);
    position: sticky;
    top: 0;
}

.front a:hover{
    font-style: italic;
}

.le, .ri{
   flex: 5;
   flex-shrink: 0;
}



.bor{
    border: 1px solid black;
    box-sizing: border-box;
}

.split{ display: flex;

}

.bas{
    align-items: baseline;
}
.between{
    display: flex;
    justify-content: space-between;
}


/* ABOUT */
.bio, .biolist{
    max-width: var(--maxw);
    margin-right: auto;
}

.bio{
    padding-right: 60px;
}

.biolist>li{
 list-style: none;
 padding-bottom: 3rem;
 padding-right: 60px;
}


#about  {
    scroll-behavior: smooth;
    padding: var(--pad);
    overflow: hidden;
    height: 0;
    transition: all .3s;
    margin-bottom: var(--navh); 
    scroll-margin-top: var(--headh);
    
    /* height: var(--boxh); */
}

  #about:target {
    transition: all .3s;
    height: var(--boxh);
    overflow-y: scroll;
 
  
}






h3 {
    padding-bottom:1rem ;
}


.prim ol{
  padding-bottom:1em ;
}
.sec {
  padding-bottom:2em ;
}

.prim>li{
    display: flex;
    flex-direction: row;
    padding-bottom: 1rem;
    align-items: baseline;
}

.prim div{
    width: var(--num);
    font-family: Arial, Helvetica, sans-serif;

    float: left;
    flex-shrink: 0;
}

.sec{
    float: left;
    width: auto;
}

.sec>li, .ter>li{
    list-style: "— " inside;
}
 /* scroll-margin-top: calc(var(--headh) + var(--navh) *2);


/* MAIN NAV */
main{
    background-color: var(--wh);
    position: sticky;
    top: var(--headh) ;
   
    height: calc(100vh  - var(--headh));
    overflow-y: scroll;
    scroll-behavior: smooth;
    
}

.proj{
    background-color: var(--wh);
    list-style-type: none;
    scroll-margin-top: 160px;
}
nav{
    position: sticky;
    top: 0;
    background-color: var(--wh);
    height: var(--navh);
    border-bottom: 1px solid black;
    z-index: 200;
}


.menu, .droplist, .projid {
    min-width: var(--menumin);
    float: left;
    width: var(--menuw);
}
.half{
    width: var(--halfw);
    float: left;
}

.meta{
    width: calc( 100% - var(--halfw) ); 
    float: left;
    /* display: flex;
    justify-content: space-evenly; */
}

.des{
    width: var(--qtw);
}
.id, .projid{
    display: block;
    overflow: hidden;
   
}
.projid{
    position: sticky;
    top: var(--navh);
} 
.projline{
width: var(--projline);
scroll-margin-top: var(--navh);
}

/* 
.id:hover{
border: 1px solid black;
transition: border .1s ease-in-out;
} */

.tit{
    width: auto;
    float: left;
}

 .date, .stat {
  float: left;
  width: 50%;
} 

.num{
    width: var(--num);
    float: left;
}

/* PADDINGS */
.id, .projid, .meta, .des, .toggle, .projlist {
 padding-top: var(--pad);
  padding-bottom: var(--pad);
}


.projlist{
    min-height: var(--droph);
}
/* PADDING SIDES */

.toggle, .id, .projid{
    padding-left: var(--pad);
    padding-right: var(--pad);
}

.meta, .content {
    padding-left: var(--pad2);
}





.projline, .menu{
    height: calc((1.25rem *1.2) + (var(--pad) * 2));
}


svg#arrow {
    height: 1em;
    padding: .25em 0 0;
    transition: transform 200ms linear;

}

/* .dropdown:checked + label #arrow {
    transform: rotate(90deg);
    transition: transform 200ms linear;
  } */


.droplist{
    background-color: var(--wh);
    position: absolute;
    /* top: calc( var(--navh) - var(--pad)); */
    left: 0;
   height: 0;
   max-height: 0;
   overflow-y: scroll;
   transition: all .3s ease-in-out;
   padding-top: 3px;
}
.droplist ul{
    padding: var(--pad)  ;
    position: sticky;
    top: var(--pad);
    
}

.droplist li{
    background-color: var(--wh);
    position: sticky;
    top: var(--pad);
    list-style-type: none;
    display: block;
    overflow: auto;
}

.droplist a{
    padding: var(--pad) 0 ;
}
/* .dropdown:checked + label{
    transition: all .2s ease-in;
    border: 1px solid black;
    border-width: 1px 1px 0;;
}

.dropdown:checked ~ .droplist {
  opacity: 1;
  pointer-events: auto;
height: auto;
max-height: var(--droph);
border: 1px solid black;
border-width: 0 1px 1px ;
transition: all .2s ease-in;

} */

.menu:hover, .menu:active{
   
    border: 1px solid black;
    transition: all .2s ease-in-out;
}

.id:hover {
    font-style: italic;
}


.menu:hover .droplist{
   
    opacity: 1;
    pointer-events: auto;
  height: auto;
  max-height: var(--droph);
  border: 1px solid black;
  border-width: 0 1px 1px ;
  transition: all .3s ease-in-out;
}

.droplist a:hover{
 background-color: var(--grey);

}


.half.hide{ 
    height: calc(1em +( var(--pad) * 2));
    overflow: hidden;
   
}



/* .proj:focus-within{
   border: 1px solid;

  } */

.projline{
    transition: all .3s;
    overflow: hidden;
    margin-bottom: 0;
   
}

/* .projline:target{
    transition: height .3s;
    height: var(--boxh);
    overflow-y: scroll;
} */

/* .projline:target .half.hide{
  height: auto;
  overflow: auto;
} */

.content {
    float: left;
    padding-top: 3rem;
    width: calc( var(--qtw) + ( 100% - var(--halfw) ));
    opacity: 0;
}

.con-text{
 width:  100%; 
}

.links{
 padding-top: 3rem ;
 padding-bottom: 3rem ;
}

.btn>a{
    text-decoration: none;
    color: inherit;
    display: inline;
    
}   
.btn{ 
   padding: 2px 0px;
    margin: 3px 10px 3px 0;
    border-bottom: 1px solid black;
}

/* .btn:hover{ 
   font-style: italic;
 } */

 /* .imgs {
    padding-bottom: 2rem ;
 } */

 .img{
  
    padding-bottom: 5rem;
 }

 .img img{
    max-width: 100%;
    max-height: var(--droph)
 }

 .toggle{
    cursor: pointer;
  display: block;  
 }

 .toggle:hover{
  
    font-style: italic;
} 

 /* .loadimg:checked + main label{
 font-style: italic;

  } */
.off{
    display: none;
   
     }

  .loadimg:checked + main label .on{
    display: none;
   
     }
     .loadimg:checked + main label .off{
        display: block;
       
         }
     
 

.loadimg:checked + main ul .projline{
   transition: all .3s;
 margin-bottom: 10rem;
 height: auto;
 
  }


.loadimg:checked + main ul  .half.hide{
  height: auto;
  overflow: auto;
 
}

.loadimg:checked + main ul  .content{
 opacity: 1;
transition: all .3s;
}


.news{
    background-color: var(--col);
}

#tittest {
    width: 80px;
    overflow: hidden;
    height: 40px;
}

#a-hide{
    display: none;
}

#test:target {

}

.proj:has(#test:target) {
    border: 1px solid;
    }
    

.proj:has(#test:target) #tittest {
height: auto;
color: aqua;
}


