:root {
/* COLORS */
    --wh: #fff;
/* FONT     */
    --bodyf: 1.05rem;;
/* WIDTH VARIABLE */
    --num: 5rem;
    --tit: 11rem;
    --sta: 6rem;
    --date: 6rem;
/* WIDTH GLOBALS */
/* PAD OPTION */
--pad: 8px;
--pad2: calc(var(--pad) * 2);
--pad3: calc(var(--pad) * 3);
--pad4: calc(var(--pad) * 4);
--pad6: calc(var(--pad) * 6);
--padish: calc(var(--pad) / 2);
/* 2 px for the border, pad4 for the padding inside and outisde each box */
    /* --projline: calc(100vw - var(--pad4) - 2px); */
    --projline: calc(100vw - var(--pad2) - 2px);
    --idw: calc(var(--num) + var(--tit) + var(--pad));
    --numpad: calc(var(--num) + var(--pad));
    --des: calc(var(--projline) - var(--idw) - var(--pad));

    --lheight: calc(var(--bodyf) * 1);
    --headh: calc(var(--lheight) + var(--pad));
    --mainh: calc(100vh - var(--pad));
    --maximg:  calc(100vh - var(--headh) * 2 - var(--pad3));
    --projh:  calc(var(--lheight) + var(--pad2));

}
html {
    box-sizing: border-box;
    font-size: 16px
}
*,
::after,
::before {
    box-sizing: border-box;
}
.hide, .imghide {
    display: none
}
img,
svg {
    display: block;
    height: auto;
    max-width: 100%;
    font-style: italic;
}
h1,h2,h3,h4,h5,h6,html,li,ol,p,ul {
    margin: 0;
    padding: 0
}
body {
    font-size: var(--bodyf);
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    height: 100vh;
    overflow: hidden;
    scroll-behavior: smooth; 
    width: 100%;
    padding-top: var(--pad);
    margin: 0;
   
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: 400;
}
a {
    text-decoration: none;
    color: #000;
    display: block;
    overflow: auto
}

p a {
    display: inline;
}

p{
    padding-bottom: var(--pad);
}
h1 {
    font-size: 1.3rem;
    line-height: 1.2
}

h2{
    font-size: 1.25rem;
    line-height: 1.1;
    font-family: Arial, Helvetica, sans-serif;
     padding-top: var(--pad3);
     padding-bottom: var(--pad)

}
h3{
    padding-top: var(--pad3);
    text-transform: uppercase;
    font-style: italic;
}

h3, h4, h5, h6,
body {
    font-size: var(--bodyf);
    line-height: 1.2
}

.cross svg , header .num svg, footer span svg{
    height: .8rem;
    float: right;
    margin-top: 4px
}

header .num svg {
    float: left;
}

/* TEXT STYLES */
ol {
    padding-bottom: var(--pad);
    list-style: none
}
ol>li {
    display: flex;
    flex-direction: row;
    padding-bottom: 1rem;
    align-items: baseline;
    list-style: none
}

ol>li:last-child{
    padding-bottom: 0rem;
}

ol>li>h4 {
    width: var(--num);
    float: left;
    flex-shrink: 0
}


ul>li {
    list-style: none;
    display: flex
}
ul>li::before {
    content: "–";
    flex-shrink: 0;
    width: var(--num);
    align-self: baseline
}

ol ul>li::before{
 display: none;
}

ol ul>li{
    display: list-item;
    list-style: "– ";
    list-style-position: outside;
    list-style-position: inside;
}


/* STRUCTURE */
header {
    position: sticky;
    top: 0;
    z-index: 98;
}


footer {
    text-align: right;
    padding: var(--pad) var(--pad2);
   z-index: 99;
    position: fixed;
  bottom: 0;
  right: 0;
}

footer span {
    display: inline-block;
    width: var(--num)
}

main {
    background-color: var(--wh);
    height: var(--mainh);
    overflow-y: scroll;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding-bottom: var(--projh);
    padding: 0 var(--pad) var(--projh);
}
main::-webkit-scrollbar, body::-webkit-scrollbar  {
    /*Chrome, Safari, Edge*/
    display: none;
  }
.date,
.des,
.num,
.stat,
.tit {
    float: left
}

.num {
    width: var(--num)
}

.tit {
    width: var(--tit)
}

.date {
    width: var(--date)
}

.stat {
    width: var(--sta)
}
.des{
    width: var(--des);
    padding-right: var(--numpad);
}
.cross,
.projline {
  padding-top: calc(var(--padish) - 1px);
  padding-bottom: calc(var(--padish) + 1px);
    height: calc(var(--padish)*2 + var(--lheight));
}
.cross {
    float: right;
    width: 100%;
    display: none;
    padding-right: var(--pad);
}
.projline {
    margin-bottom: 0;
    /* transition: margin-bottom .3s; */
    overflow: hidden;
    float: left;
    width: var(--projline);
    padding-right: var(--pad);
    padding-left: var(--pad);

}

.proj {
    border: 1px solid #fff;
    width: 100%;
    float: left;
    background-color: #fff;
    list-style-type: none;
    margin-bottom: 1px;
}
header {
    margin-bottom: 0px;
}
.proj:hover {
    border-color: #000
}

.target {
    float: left;
    width: 100%;
    position: relative;
    /* offset by one */
    scroll-margin-top: calc(var(--headh) * 2 + var(--pad) + var(--padish) + var(--lheight)); 
}

.line{
    position: relative;
    width: 100%;
    height:0px;
    float: left;
}

   
.content {
    width: var(--projline);
    padding: 0 var(--numpad) 0 var(--idw);
    opacity: 0;
    display: none;
    /* transition: padding-bottom .3s; */
    flex-wrap: wrap;
    gap: var(--pad4) var(--pad4);
  
}


/* CONTENT STYLING */
.textcol {
    flex: 1;
    flex-basis: 48%;
    height: min-content;
}

.logo svg {
    margin-top: 0;
    height: calc(7em * 1.1)
}

.links{
    padding-bottom: 5px;
  
}

.img+.img {
    padding-top: var(--pad2)
}

.img img {
    max-width: 100%;
    max-height: var(--maximg);
}


.btn, .content a {
    display: inline;
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid #000;
}

.btn{   
    padding: 2px 0;
    margin: 3px 5px 3px 0;
}

.spacer {
    /* spacer between proj and header */
    background-color: #fff;
    position: sticky;
    top: calc(var(--headh) - 1px);
    width: 100%;
    height:calc(var(--headh) + 2px);
}

/* STYLING */
.spacer + div.target {
    /* help overset the spacer */
    margin-top: var(--headh);
    width: 100%
}
#news + .line + .proj .date span {
    background-color: var(--col);
}

/* TARGET EVENT */
.target:target+ .line +.proj .projline {
    cursor: default;
    height: auto;
    margin-bottom: var(--pad4);
    /* transition: margin-bottom .3s; */
}

.target:target+ .line + .proj {
    cursor: default;
    border-color: #000;
    border-top-width: 0;
    overflow: auto;
    margin-bottom: var(--padish);
}
.target:target+ .line + header.proj {
    position: relative;
    /* no sticky here or no scroll */
}

.target:target + .line {
    position: sticky;
    top: calc(var(--headh) * 2);
    width: 100%;
    border-bottom: 1px solid #000;
    height: 1px;
    margin-top: var(--padish);
}

.target:target + .line +.proj .hide, .target:target + .line .hide {
    display: block
}
.target:target+ .line +.proj .show {
    visibility: hidden
}
.target:first-child:target + .line{
    top: 0;
    z-index: 101;
}
.fix {
    /* makes specs sticky */
    position: fixed;
}

.target:target + .line +.proj .content {
    display: flex;
    padding-bottom: var(--pad6);
    opacity: 1;
    /* transition: padding-bottom .3s; */
}

@media screen and (max-width:1080px) {
    .textcol {
        flex: auto
    }
    .content {
        gap: var(--pad4)
    }
}

@media screen and (max-width:770px) {
    
    .content{
        padding-left: var(--numpad);

    }
    .target:target+.proj .projline {
        height: auto;
        /* transition: margin .3s */
    }
    .des{
        padding-left: var(--num);
        padding-top: var(--pad2);
        width: 100%;
    }
   
}

@supports (-webkit-touch-callout: none) {
    :root {
        --mainh: calc(100dvh - var(--pad));
    }
    body {
        /* dvh instead of vh for safari search bar issue on ios */
        height: 100dvh;
    }
   
  }

@media screen and (max-width:530px) {
    :root {
        --padish: 3px;
        --num: 4rem;
        
       
    }
    .proj .tit {
        width: calc(var(--projline) - var(--numpad) - var(--pad));
        margin-bottom: var(--padish);
        
    }

    header {
        margin-bottom: 0px !important;
    }
    .date {
        box-sizing: content-box;
        padding-left: var(--num)
    }

    .content{
        padding-left: var(--pad);
        padding-right: var(--pad);
    }

    .des { 
        padding-left: 0;
      padding-right: var(--pad);
    }
    .proj:hover {
        border-color: #fff;
    }
 
}

@media screen and (min-width:1500px) {
    :root {
        --pad: 10px
    }
    html {
        font-size: 18px
    }
}

@media screen and (min-width:2500px) {
    :root {
        --pad: 10px
    }

    html {
        font-size: 21px
    }
}